[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "static/js/live2d-widget"]
	path = static/js/live2d-widget
	url = https://github.com/n0tr00teuorg/live2d-widget
