@font-face {
  font-family: Mengshen-Handwritten;
  src: url('https://fastly.jsdelivr.net/gh/n0tr00teuorg/n0tr00teuorg.github.io@main/static/font/Mengshen-Handwritten.woff2') format('woff2');
}
$global-font-family: Mengshen-Handwritten;
